<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="GoogleCloud-1">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-2">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-3">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-4">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-5">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-6">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-7">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-8">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-9">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
    <test name="GoogleCloud-10">
        <classes>
            <class name="TestClass"/>
        </classes>
    </test>
</suite>
